.cart {
    margin: 0 10vw;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-item-name, .cart-item-quantity {
    min-width: 20vw;
}

.cart-item-price {
    min-width: 10vw;
}

.quantity-button {
    border-radius: 100%;
    width: 40px;
    padding: 0;
}