<div class="card-details">
    <div class="card-image">
        <img [ngClass]="{'shiny': isRareHolo}" src="{{(card$| async)?.images?.large}}">
    </div>
    <div class="card-description">
        <h1>{{(card$| async)?.name}}</h1>
        <p>{{(card$| async)?.supertype}}</p>
        <h2>Subtypes :</h2>
        <p>{{(card$| async)?.subtypes}}</p>
        <h2>Set :</h2>
        <p>{{(card$| async)?.set?.name}}</p>
        <h2>Number :</h2>
        <p>{{(card$| async)?.number}}</p>
        <h2>Rarity :</h2>
        <p>{{(card$| async)?.rarity}}</p>

        <h2>Price</h2>
        <p>{{price}} €</p>
        <div>
            <button (click)="addToCollection()">📚 Add to Collection</button>
            <button (click)="addToCart()">🛒 Add to Cart</button>
        </div>
    </div>
</div>