<div class="home">
    <div class="hero">
        <div class="hero-image">
            <img alt='Vector Image from seeklogo.com' src="assets/charizard-seeklogo.com.svg">
        </div>
        <div class="hero-text">
            <h1>Welcome to Pokémon Card Shop App !</h1>
            <p>With this web application you can search, collect and buy Pokémon Cards.</p>
            <div class="hero-actions">
                <button routerLink="/catalog">Catalogue</button>
                <button routerLink="/collection">My Collection</button>
            </div>
        </div>
    </div>
</div>
