<h1 class="catalog-title">Catalogue</h1>
<div class="catalog-items">
    <div class="card-card" *ngFor="let card of cards">
        <a href="{{'./card/'+card.id}}">
            <img class="card-image" src={{card.images}}>
        </a>
        <p class="card-description">
            <span class="card-price">
                {{card.cardmarket}}
            </span>
        </p>
        <div class="card-actions">
            <button type="button" id="AddFavorites" (click)="addToFavorites(card.id)">❤</button>
            <button type="button" id="AddCart" (click)="addToCart(card.id)">🛒</button>
        </div>
    </div>
</div>