.catalog-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-card {
    padding: 0 10px;
    margin: 10px 0;
}

.card-image {
    width: 25vh;
    border-radius: 10px;
    box-shadow: 10px;
    transition: transform .2s; /* Animation */
}

.card-image:hover {
    transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.card-description {
    text-align: center;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    button {
        width: 12vh;
        padding: 10px;
        background-color: #1976d2;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        
    }

    button #AddFavorites {
        color: white;
        background-color: #e64992;
    }

    button #AddCart {

    }
}